body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
    margin: 0;
    color: #1e1e1a;
}

main{
    margin: auto;
    max-width: 1500px;
	min-width: 500px;
    background-color: #f8f8f7;
    border-radius: 9px;

}

h1,p,h3{
    text-align: center;
    padding: 10px;
}

h1{
    font-weight: bold;
    font-size: 40px;
}
#img-div{
    width: 98%;
    background-color: white;
    border-radius: 5px;
}

#image{
    display: block;
    max-width: 100%;
    margin: auto;
}

#tribute,#img-div{
    display: block;
    margin: auto;
}
#tribute-info li, .citas, h3{    
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

h1,h3,strong{
    color: #131311;
}